body, html {
  height: 100%;
}

.app {
    display: flex;
    height: 550px; /* Set the height to fill the viewport */
    overflow: hidden;
  }
  /*
  .sidebar {
    width: 15%;
    background-color: #333;
    color: #fff;
  }
  */
  
  .content {
    flex: 1; /* Allow the content area to take up remaining space */
    background-color: #f0f0f0;
    padding: 20px;
    overflow-y: scroll;
    height: 500px;
  }