.sidebar {
    width: 90%;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    color: black;
    border-right: 2px solid lightgray;
  }
  
  .sidebar-header {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    width: 88%;
    text-align: center;
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    padding: 0.5rem 1rem;
    margin-left: 30px;
  }
  
  .sidebar-menu a {
    color: black;
    text-decoration: none;
  }
  
  .sidebar-menu a:hover {
    background-color: #555;
  }